# Git
.git
.gitignore

# Maven
target/
!target/kitchensink.war

# IDE files
.idea/
.vscode/
*.iml
.settings/
.project
.classpath

# Docker
.dockerignore
docker-compose.yml
Dockerfile

# Others
.DS_Store
*.log
*.tmp
*.bak 